<ul class="navbar-nav">
     <li class="nav-item active">
        <a class="nav-link" href="accountent_home.html">Home</a>
     </li>

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'insertclient_details' %} ">New Client</a>
     </li>

       <!--<li class="nav-item active">
        <a class="nav-link" href="{% url 'viewauditrequest' %}">View Request</a>
     </li>-->

       <li class="nav-item active">
        <a class="nav-link" href="{% url 'viewclientdetails' %}">View Details</a>
     </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'insertintimation' %}">Intimation</a>
     </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'insertfiling_date' %}">Filling date</a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'logcheck' %}">Logout</a>
     </li>
     <!--
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'viewauditrequest' %}">View Request</a>
     </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'insertaudit_type' %}">Audit Type</a>
     </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'insertfiling_date' %}"> DFilingetails</a>
     </li>
        <li class="nav-item active">
        <a class="nav-link" href="index.html">Logout</a>
     </li>
-->

    </ul>
