 <ul class="navbar-nav">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="accountent_home.html">Home</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'viewaccdetails' %}">View Account Details</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'viewfirmdetails' %}">View Firm Details</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'viewdocdetails' %}">View Document Details</a>
                                 </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'viewfilingdate' %}">View Filing Date</a>
                                 </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'viewauditrequest' %}">View Audit Request </a>
                                 </li>

                              </ul>>